<p id="notice"><%= notice %></p>
<div id="qwe1">
<h1 id="qwe2" style="color:#DDFFFF">映画note</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Namhe</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td id="qwe3"><%= movie.name %></td>
        <td><%= movie.rate %></td>
        <td><%= movie.description %></td>
        <td><%=image_tag movie.image, width:100 %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
